.Header {
  margin: 0 auto;
  text-align: center;
}

.Header .navbar {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: var(--blocks-color);
  position: fixed;
}

.Header .logo {
  margin: 10px 0;
  padding: 5px;
  width: 64px;
  /* background-color: rgba(240, 248, 255, 0.5); */
  border-radius: 25%;
  border: 0.5px solid rgba(240, 248, 255, 0.4);
}

.Header button span.navbar-toggler-icon {
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 4px;
}

.Header .navbar-brand {
  padding: 0;
}

.Header a.nav-link {
  color: var(--text-color);
}

.Header a.nav-link.active {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.Header .select {
  margin-top: 12px;
  vertical-align: sub;
  color: var(--text-color);
  border: none;
  background: transparent;
}
