.Footer {
  padding: 20px 0 5px;
  color: var(--text-color);
  background-color: var(--blocks-color);
}

.Footer .footerMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Footer .footerListHeader {
  font-weight: 600;
  color: rgba(240, 248, 255, 0.7);
}

.Footer .subList {
  list-style: none;
  padding: 0;
  font-size: 14px;
  color: rgba(240, 248, 255, 0.7);
}

.Footer a {
  color: rgba(240, 248, 255, 0.7);
  text-decoration: none;
}

.Footer a:hover {
  color: rgba(240, 248, 255, 0.7);
  text-decoration: underline;
}

.Footer .social-footer {
  color: var(--text-color);
  /* border: 1px solid white; */
}
